<form method="post">

    <div class="form-group">
        <label for="title"> Modifier votre Item : </label>
        <input type="text" name="title" value="{{ item.title }}" class="form-control" placeholder="Titre de votre Item">
    </div>

    <div style="padding-bottom: 20px;">
        <a href="/">
            <input type="submit" style="background-color: #6D909C; border-color: #6D909C;" class="btn btn-success" value="Envoyer">
        </a>
    </div>

</form>
<form>
