{% extends 'layout.html.twig' %}

{% block title %}Ajouter un ITEM{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 10%">
    <form action="" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Votre item" name="title" />
        </div>
    </form>
    </div>
{% endblock %}