{% extends 'layout.html.twig' %}

{% block title %}Les Items{% endblock %}

{% block content %}
    <div style="padding-top: 10%" >
        <h1>Category : {{ category.name }}</h1>
    </div>
{% endblock %}